* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(173,173,173,1) 80%);
  background-repeat: no-repeat;
  height: 98vh;
}

h1 {
  margin-top: 25px;
  text-align: center;
  color: white;
  font-size: 40px;
}

#bait {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  font-size: 0px;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: bait;
}

@keyframes bait {
  from{
    font-size: 1px;
  }to{
    font-size: 24px;
  }
}

#flex-container{
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #d4d4d4;
  border-radius: 20px;
  animation-duration: 1s;
  animation-name: flexOpen;
}

#flex-box-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.flex-item {
  height: 25vh;
  max-height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;

  animation-duration: 1s;
  animation-name: startLayout;
}

@keyframes startLayout {
  from{
    width: 0;
    height: 0;
  }to{
    width: 100%;
    height: 25vh;
  }
}

img {
  height: 100%;
  width: auto;
  border-radius: 10px;
}



#rock {
  animation-delay: 1s;
  animation-duration: 750ms;
  animation-name: rockEnter;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
} 

@keyframes rockEnter {
  from {
    transform: translateX(-400px);
    opacity: 0;
  } 50%{
    opacity: 0.25;
  } to {
    opacity: 1;
    max-height: 100%;
  }
} 


#scissors {
  background-color: #f4f4f4;
  animation-duration: 750ms;
  animation-name: scissorsEnter;
  animation-timing-function: ease;
  animation-delay: 1750ms;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0;
}

@keyframes scissorsEnter {
  from {
    transform: translateX(400px);
    opacity: 0;
  } 50%{
    opacity: 0.25;
  } to {
    max-height: 100%;
    opacity: 1;
  }
}

#paper {
  background-color: #f4f4f4;
  animation-duration: 750ms;
  animation-name: paperEnter;
  animation-timing-function: ease;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes paperEnter {
  from {
    transform: translateY(400px);
    opacity: 0;
  } 50%{
    opacity: 0.25;
  } to {
    max-height: 100%;
    opacity: 1;
  }
}



#score-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  opacity: 0;
  animation-delay: 3250ms;
  animation-duration: 750ms;
  animation-name: scoreAppear;
  animation-fill-mode: forwards;
}

@keyframes scoreAppear {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
  
}

#score-title {
  font-size: 32px;
  font-weight: 800;
}

#scores {
  display: flex;
  width: 400px;
  justify-content: space-between;
  animation-delay: 4s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-name: scoreSeparate;
  align-items: center;
}

 @keyframes scoreSeparate {
  from{
    width: 400px;
    height: 52px;
  }to{
    width: 1200px;
    height: 150px;
  }
} 

h4 {
  font-size: 24px;
}



#playerScore {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 0;
  width: 200px;
  height: 52px;
  text-align: center;
}

#computerScore {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 0;
  width: 200px;
  height: 52px;
  text-align: center;
}

#gameMessage {
  text-align: center;
  margin-bottom: 0;
  animation-name: enter;
  animation-delay: 5.5s;
  animation-duration: 500ms;
  display: inline-block;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(-200px);
    font-size: 1px;
  }

  to {
    transform: translateX(0);
    opacity: 100;
    font-size: 18px;
  }
}

#messageContainer {
  display: flex;
  justify-content: center;
}

#endScore {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 5px 30px;
  font-size: 24px;
  border-radius: 15px;
}

#reset {
  margin-bottom: 50px;
}

